<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/blog.css" />

<div class="blog-container">
  <h2 class="text-center">Travel Blogs</h2>
  <div class="add-blog-button-container">
    {{#if loggedIn}}
      <button id="add-blog-button" class="btn btn-primary">Add New Blog Post</button>
    {{/if}}
  </div>
  <div class="blog-grid">
    {{#each blogs}}
      <div class="blog-card">
        {{#if this.image_url}}
          <img
            src="../public/images/iceland.jpg"
            class="blog-img"
            alt="{{this.title}}"
          />
        {{/if}}
        <div class="blog-content">
          <h3 class="blog-title">{{this.title}}</h3>
          <p class="blog-text">{{this.content}}</p>
          <p class="blog-author">By {{this.user.username}}</p>
        </div>
      </div>
    {{else}}
      <p>No blog posts found. Be the first to share your travel experience!</p>
    {{/each}}
  </div>
</div>

{{#if loggedIn}}
  <div id="blog-modal" class="modal">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Add a New Blog Post</h3>
      <form id="new-blog-form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea id="content" name="content" rows="5" required></textarea>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>
        <button type="submit" class="btn btn-primary">Add Blog Post</button>
      </form>
    </div>
  </div>
{{/if}}

<script src="/js/blog.js"></script>